############################################################
# Klei Cluster Token
#
# Login:
# https://accounts.klei.com/account/game/servers
#
# Download your Cluster Token
#
# Rename this file to:
#
# cluster_token.txt
#
# Then copy it to:
#
# data/DoNotStarveTogether/MyDediServer/
#
############################################################

PUT_YOUR_CLUSTER_TOKEN_HERE